@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom right, #F37E6A, #8F1A75, #5E94B8);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fade-in {
  animation: fade-in 0.3s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

input {
  color: rgb(161, 161, 161);
  background-color: transparent;
  flex-grow: 1;
  padding: 7px;
  border-radius: 5px;
  outline: none;
}

input::placeholder {
  color: grey;
}

.inverseColor {
  background: linear-gradient(to bottom right, #F37E6A, #8F1A75, #5E94B8);
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
